header.header 
    .container.container--header
       .header__row 
            nav.header__nav
                ul.header__list
                    li.header__item
                        a(href="#").header__link Главная
                    li.header__item
                        a(href="#").header__link О нас
                    li.header__item
                        a(href="#").header__link Отзывы
                    li.header__item
                        a(href="#").header__link Блог
                    li.header__item
                        a(href="#").header__link Контакты
                    li.header__item
                        a(href="#").header__link.header__link--dropdown Практикумы
                        nav.header__dropdown
                            ul.header__dropdown-list
                                li.header__dropdown-item
                                    a(href="#").header__dropdown-link Главная
                                li.header__dropdown-item
                                    a(href="#").header__dropdown-link О нас
                                li.header__dropdown-item
                                    a(href="#").header__dropdown-link Отзывы
                    li.header__item
                        a(href="#").header__link Для бизнеса
            .header__right
                p.lang-switcher RU
                a(href="#auth-modal").auth-btn.modal-btn Личный кабинет