.header {
    padding: 13px 0;
    background-color: var(--blue-color--dark);
    border-bottom: 1px solid var(--blue-color--light);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 90;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include media-custom-max(1140px) {
            justify-content: center;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1rem;
        font-size: clamp(14px, calc(0.875rem + ((1vw - 3.2px) * 0.1786)), 16px);
        min-height: 0vw;
        line-height: toRem(18);
        list-style: none;
        padding-left: 0;
        font-family: PT Mono, sans-serif;
        font-weight: 400;

        @include media-custom-max(1140px) {
            justify-content: center;
        }
    }

    &__item:not(:last-child) {
        margin-right: 12px;

        @include media-custom-max(1140px) {
            margin-right: 0;
        }
    }

    &__link {
        color: var(--white-color);
        text-decoration: none;
        padding: 8px 15px;
        transition: background-color var(--normal-transition),
            color var(--normal-transition);
        display: flex;
        align-items: center;
    }

    &__link:hover,
    &__link:active,
    &__link:focus {
        background-color: var(--white-color);
        color: var(--purple-color);
    }
    &__link--dropdown {
        position: relative;
    }
    &__link--dropdown::before {
        content: "";
        background: url(../img/sprite/sprite.svg#mdi_arrow_right) no-repeat
            center/cover;
        width: 20px;
        height: 20px;
        transition: transform var(--normal-transition);
    }
    &__dropdown {
        position: absolute;
        background-color: var(--white-color);
        margin-left: 18px;
        margin-top: 1px;
        padding: 10px;
        display: none;
        transition: opacity var(--normal-transition);
    }

    &__item:hover > .header__dropdown {
        display: block;
    }
    &__item:hover > .header__link--dropdown::before {
        transform: rotate(90deg);
    }
    &__dropdown-list {
        list-style: none;
        padding-left: 0;
        font-size: 1rem;
        font-size: clamp(toRem(14), toRem(16), toRem(17));
        min-height: 0vw;
        line-height: toRem(18);
        border-radius: 0px 0px 10px 10px;
    }
    &__dropdown-item {
        padding: 10px;
    }
    &__dropdown-link {
        text-decoration: none;
        color: black;
        transition: color var(--normal-transition);
    }
    &__dropdown-link:hover,
    &__dropdown-link:active,
    &__dropdown-link:focus {
        color: var(--purple-color);
    }

    &__right {
        display: flex;
        align-items: center;
    }
}
.lang-switcher {
    padding-right: 24px;
    color: rgba(255, 255, 255, 0.6);
    font-family: PT Mono, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.2px) * 0.1786)), 16px);
    min-height: 0vw;
}
.auth-btn {
    font-family: PT Mono, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.2px) * 0.1786)), 16px);
    min-height: 0vw;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &::after {
        content: "";
        background: url(../img/sprite/sprite.svg#mdi_arrow_right) no-repeat
            center/cover;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        transition: transform var(--normal-transition);
    }

    &--opened::after {
        transform: rotate(90deg);
    }
}
