extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "404 page"

block content
	h3 Page Not Found

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")