footer.footer 
    .container.container--footer 
        .footer__row
            p конкурс
            h3 Попади в команду бета-тестирования и пройди практикум<br> Python by REBRAIN <span>бесплатно</span>
            a(href="#request-modal").request-btn.modal-btn Отправить заявку