mixin program__sub-list(id)
    ul.program__sub-list(id=id)
        li.program__sub-item История Python
        li.program__sub-item Применимость Python
        li.program__sub-item Почему Python - это круто? Основные особенности и идеология
        li.program__sub-item Принцип работы Python
        li.program__sub-item Способы запуска программ, возможные среды разработки
        li.program__sub-item Синтаксис Pyhton. Основные положения PEP8
        li.program__sub-item Ввод и вывод данных с консоли, Hello World